@import url("https://cdn.syncfusion.com/ej2/material.css");


.text{
    padding-top:50px;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: rgb(74, 80, 187);
    text-align: left;
    max-width: none
}